 <div class="plate mx-auto mb-5" id="cork">
  <h1 class="text-center">サイト概要</h1>
 </div>
<div class="about-box col-sm-10 px-sm-0 offset-sm-1">
  <p class="text-center">
    LIFEHACKERSは身近に溢れる様々なLIFE HACKを共有する為のコミュニティサイトです。<br>
    仕事や日々の生活を効率化する為のアイディアを会員の皆様で共有し合うことで<br>
    "忙しい現代社会を楽しく乗り切る"ことをテーマとしています。
  </p>

  <div class="slide">
    <div class="slide-item"><img class="d-block mx-auto" "slide-img size:100x500" src="assets/about-image.jpg"></div>
  </div>
   <h3 class="text-center">LIFE HACKとは</h3>
 </div>
<div class="about-box col-sm-10 px-sm-0 offset-sm-1">
  <p class="text-center">
    生活や仕事などの日常的な課題を解決するための知恵やテクニックのことです。<br>
    自分の時間や労力を節約する方法や、効率的に仕事をこなす方法、ストレスを軽減する方法、より便利に生活する方法等を<br>
    LIFE HACKと総称します。
  </p>

 </div>


