<div class="col-md-8 offset-md-1">
<p>いいねした投稿一覧</p>
<%#= render 'posts/post', like_post: @like_posts %>
<% @like_posts.each do |post| %>
<%= link_to image_tag( post.image.variant(resize: '100x100') ), admin_post_path(post.id) %>
<%= link_to post.user.user_name, admin_user_path(post.user.id) %>
<i class="fa fa-heart unlike-btn"></i>
<%= post.likes.length %>
<%= link_to post.title, admin_post_path(post.id) %>
<% end %>
</div>